# -- GIT is ignoring --

# Git itself
.git/

# Logs
**/logs/*.log

# Editor settings
.vscode/
.idea/

# Database
database/sqlite3.db
# don't ignore migrations
!**/migrations/__init__.py

# Environment
.env
.secretkey
production.env
local.env

# Static files
staticfiles

# temporary files
temp/

# ===================
## Python
# ===================
__pycache__
*.py[cod]
# Keep keep.pyc to allow empty Django-template directories to be committed to git.
!**/keep.pyc
.pytest_cache
.ruff_cache
.mypy_cache

# Jupyter
.ipynb_checkpoints/
.ipython/

# Tests
.coverage
.hypothesis/
htmlcov/


# ===================
## Tyepscript Frontend
# ===================
# TBD: You might want to gitignore the frontend explicitly
# (e.g. cloning from a different origin)
# frontend/
**/node_modules/
frontend/dist/
.env.production
