<nav id="navigation" class="pl-2 justify-self-start bg-zinc-900">
  {% block navigation %}
  <div x-data="{ openMobileMenu: false }">

    {% comment %} TODO: Okay, wherever the navigation menu items will be added
    to .. they definitely need the hx-boost="true" attribute, if they just want
    to replace the body without re-loading everything inside the head.
    hx-boost="true" will render ALL childrens links and forms to their hx-target,
    so headers will stay as they are (re-load titles with htmx manually!). {% endcomment %}

    {# Desktop menu, hidden on smaller screens. #}
    {% include "headers/desktop-navigation-and-user-menu.djt.html" %}

    {# Mobile menu, show/hide based on menu state. #}
    {% include "headers/mobile-navigation-and-user-menu.djt.html" %}

  </div>
  {% endblock navigation %}
</nav>
<headline class="w-full h-10 px-4 text-start">
  {% block headline %}
  <h1 class="py-2 text-3xl font-bold text-transparent uppercase bg-gradient-to-r from-zinc-500 to-zinc-950 bg-clip-text">
    INSERT_PROJECT_NAME_HERE
  </h1>
  {% endblock %}
</headline>
<user class="pr-2">USER{# TODO: include 'user profile and login' components #}</user>
