# {{ project_name }} celerybeat.service
#
# For spawning a web application celery task manager as a systemd service.
#
[Unit]
Description=WebApplication Task Management via celery beat
Documentation=Consult the automation agent for infos on the WebApplication running on this localhost
Wants=nginx.service
After=nginx.service

# Combined with Restart=5, this will always and forever restart the service if it dies without putting too much stress on it.
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory=/apps/{{ project_name }}/src/

User=root
Group=root
EnvironmentFile=/app/envs/production.env
ExecStartPre=
ExecStart=/apps/{{ project_name }}/src/.venv/bin/celery --app config.celeryapp beat --loglevel=INFO --scheduler django_celery_beat.schedulers:DatabaseScheduler
ExecReload=/apps/{{ project_name }}/src/.venv/bin/celery --app config.celeryapp beat --loglevel=INFO --scheduler django_celery_beat.schedulers:DatabaseScheduler

PIDFile=/apps/{{ project_name }}/celerybeat.pid
ExecStop=/bin/kill --signal TERM $MAINPID
ExecStopPost=/bin/rm --force '/apps/{{ project_name }}/celerybeat.pid'

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
