# {{ project_name }} celeryflower.service
#
# For spawning a web application celery task manager as a systemd service.
#
[Unit]
Description=WebApplication Task Management via celery flower
Documentation=Consult the automation agent for infos on the WebApplication running on this localhost
Wants=nginx.service
After=nginx.service

# Combined with Restart=5, this will always and forever restart the service if it dies without putting too much stress on it.
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory=/apps/{{ project_name }}/src

User=root
Group=root
EnvironmentFile=/apps/{{ project_name }}/envs/production.env
ExecStartPre=
# FIXME: replace flower credentials with correct variables and let this run from a script in the app
ExecStart=/apps/{{ project_name }}/src/.venv/bin/celery flower \
    --app=config.celeryapp \
    --broker="${CELERY_BROKER_URL}" \
    --basic_auth="${CELERY_FLOWER_USER}:${CELERY_FLOWER_PASSWORD}"
ExecReload=/apps/{{ project_name }}/src/.venv/bin/celery flower \
    --app=config.celeryapp \
    --broker="${CELERY_BROKER_URL}" \
    --basic_auth="${CELERY_FLOWER_USER}:${CELERY_FLOWER_PASSWORD}"

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
